.sheet__character {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 2rem;
    color: #ffc500;
    margin: 1rem;
  }
  span {
    font-size: 1rem;
    margin: 0.7rem;
  }
  ul {
    width: 90%;
    margin: 0 5%;
    li {
      margin-bottom: 1rem;
      &:first-child{
        margin-top: 1rem;
      } 
      span {
        cursor: pointer;
        color: rgb(75 , 213 ,238);
        &:hover {
          border-bottom: solid rgb(75 , 213 ,238) 1px
        }
      }
    }
  }
}
  
