.sheet__not-found {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2rem;
    text-align: center;
    color: rgba($color: #000000, $alpha: 0.5);
    margin: 1rem;
  }
  img {
    width: 250px;
    fill: white;
  }
}
